CSS Document
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.woff2') format('woff2'),
      url('../fonts/Gotham-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body{
  margin:0;
  font-family: 'Gotham' sans-serif;
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header{
  background-color: #140922;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
z-index:2;
font-family: GothamBlack;
}

nav{
  display: flex;
  justify-content: space-between;
}

h1 {
  top: 0;
  margin:0;
  padding:.5em;
  color:white;
font-size: 25px;
  text-align: center;
  z-index: 1;
}

nav img:first-of-type{
  order: -1;
  width: 3em;
  height: 100%;
  z-index: 1;
}

nav img:last-of-type{

  width: 3em;
  height: 100%;
  z-index: 1;
}

nav ul{
  background-color: #140922;
  position: fixed;
  transform: translateX(100%);
  transition: 1s;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 3em;
  list-style-type: none;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
}

nav a{
  color: white;
  text-decoration: none;
  
}

#searchbar{
  background:none;
  position: relative;
  padding: 0;
  display:flex;
  align-items:center;
  /*margin-left: 40em;*/
}

input {
  line-height:3em;
  color:rgb(0, 0, 0);
  background-color:white;
  border-radius:1em;
  outline:none;
}

input::placeholder {
  color:dimgray;
}

/* styling voor search inputs */
input[type="search"] {
  position:relative;
  padding-left:2.5em;   
}

input:focus {
  background-color:white;;
}

.uitklappen{
  transform: translateX(0);
}

body{
background-color: #06030C;
color:white;
font-family: GothamBlack;
}

p{
  text-align: center;
}

h2{

  text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

h5{
  margin-top: -8%;
  padding: 3%;
  text-align: center;
}

.background img{
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#home-fotos{
  display: grid;
   grid-template-columns:1fr 1fr;
   grid-gap:1em;
   list-style-type: none;
   
 } 
 
  #home-fotos img:first-of-type{
   width: 80%;
 }

 #home-fotos img:first-of-type:hover{
  width: 100%;
}
 
 #home-fotos img:nth-of-type(2){
  width: 80%;

 }
 
 #home-fotos img:nth-of-type(3){
  width: 80%;

 }
 
 #home-fotos img:last-of-type{
  width: 80%;
 }

 .rotate{
   width: 40%;
   position:absolute;
   right: 0;  
 }

 @keyframes rotate-animation{
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(180deg);
  }
}

section.rotate:hover div {
  animation-name:rotate-animation;
  animation-duration:1s;
}

#promo{
  position: relative;
}

#promo img{
  width: 50%;
position:absolute;  
  display:flex;
  justify-content:center;
  align-items:center;
}

article{
  padding:5em;
  display:grid;
  column-gap:4em;
  
  /* voor max-width van het grid */
  grid-template-columns:28em minmax(auto, 36em);
  justify-content:center;
}

button{
  height:3em;
  padding:0 1em;
  color:white;
  background-color:purple;
  border:none;
  border-radius:1.5em;
}

footer{
  background-color: #140922;
padding: 5%; 
}

footer li:first-of-type{
  font-weight: bold;
  }
  
  footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  padding-bottom: 5%;
  }
  
  .socialmedia{
    display: grid;
    grid-template-columns:1fr 1fr;
  }
  
  
  .socialmedia p{
    grid-column: span 2;
  }

 


