CSS Document
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.woff2') format('woff2'),
      url('../fonts/Gotham-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body{
  margin:0;
  font-family: 'Gotham' sans-serif;
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header{
  background-color: #140922;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
z-index:2;
font-family: GothamBlack;
}

nav{
  display: flex;
  justify-content: space-between;
}

h1 {
  top: 0;
  margin:0;
  padding:.5em;
  color:white;
font-size: 25px;
  text-align: center;
  z-index: 1;
}

nav img:first-of-type{
  order: -1;
  width: 3em;
  height: 100%;
  z-index: 1;
}

nav img:last-of-type{

  width: 3em;
  height: 100%;
  z-index: 1;
}

nav ul{
  background-color: #140922;
  position: fixed;
  transform: translateX(100%);
  transition: 1s;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 3em;
  list-style-type: none;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
}

nav a{
  color: white;
  text-decoration: none;
  
}

#searchbar{
  background:none;
  position: relative;
  padding: 0;
  display:flex;
  align-items:center;
  /*margin-left: 40em;*/
}

input {
  line-height:3em;
  color:rgb(0, 0, 0);
  background-color:white;
  border-radius:1em;
  outline:none;
}

input::placeholder {
  color:dimgray;
}

/* styling voor search inputs */
input[type="search"] {
  position:relative;
  padding-left:2.5em;   
}

input:focus {
  background-color:white;;
}

.uitklappen{
  transform: translateX(0);
}

body{
background-color: #06030C;
color:white;
font-family: GothamBlack;
}

p{
  text-align: center;
}

h2{

  text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

h5{
  margin-top: -8%;
  padding: 3%;
  text-align: center;
}

.background img{
  max-height: 25em;
  width:100%;
  max-width: 100vw;
  object-fit: cover;
}

.slide{
  max-height: 30em;
  display: flex;
  overflow-x: auto;
}

.slide::-webkit-scrollbar{
  width: 0;
}

.slide .item{
  flex: 1;
  min-width: 12em;
  height: auto;
  text-align: center;  
  margin-right: 1em;
}

.opening{
  display: flex;  
margin: 3em;
}

.opening p{
  font-size: 1em;
}

.opening h2{
  font-size: 2em;
}

.opening h3{
  font-size: 1.5em;
}

.opening img{
max-width: 27em;
}

.promo{  
  display:flex;
  
}

.promo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gsthuis{
  display: flex;  
  margin: 3em;

}

.gsthuis p{
  font-size: 1.2em;
}

.gsthuis h2{
  font-size: 2em;
}

.gsthuis h3{
  font-size: 1.6em;
}

.gsthuis img{
  max-width: 27em;
  }

.rotate{
  width: 40%;
}

 @keyframes rotate-animation{
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(180deg);
  }
}

div.rotate:hover div {
  animation-name:rotate-animation;
  animation-duration:1s;
}

.titel {
  grid-area: titel;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-column-gap: 1em;
  grid-template-areas: 
    'titel titel titel titel titel titel' 
    'rabbids rabbids arcade arcade mario mario';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.rabbids,
.arcade,
.mario {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.rabbids {
  grid-area: left;
}

.rabbids img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  max-width: 23em;
}

/* Style the middle column */
.arcade {
  grid-area: middle;
}

/* Style the right column */
.mario {
  grid-area: right;
}



button{
  height:3em;
  padding:0 1em;
  color:white;
  background-color:purple;
  border:none;
  border-radius:1.5em;
}

footer{
  background-color: #140922;
padding: 5%; 
}

footer li:first-of-type{
  font-weight: bold;
  }
  
  footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  padding-bottom: 5%;
  }

  footer img:first-of-type{
    display: flex;
   justify-content: center;
  }
  
  .socialmedia{
    display: grid;
    grid-template-columns:1fr 1fr;
  }
  
  
  .socialmedia p{
    grid-column: span 2;
  }

  @media (max-width: 700px) {
    .grid-container  {
      grid-template-areas: 
        'titel titel titel titel titel titel' 
        'rabbids rabbids rabbids rabbids rabbids rabbids' 
        'arcade arcade arcade arcade arcade arcade' 
        'mario mario mario mario mario mario';
    }
  }
