CSS Document
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.woff2') format('woff2'),
      url('../fonts/Gotham-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  /*deze code is voor het importeren van het font. dit font stond namleijk niet tussen de lijst en moest via google geimporteerd worden*/
}

body{
  background-color: #06030C;
color:white;
  margin:0;
  font-family: 'Gotham' sans-serif;
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  /*algemene styling voor de afbeeldingen, de gehele breedthe waarbij de hoogte automatisch meegroeit*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*algemene styling voor de unoderd lijsten*/
}

header{
  background-color: #140922;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
z-index:2;
font-family: GothamBlack;
/*styling voor de navigatie, door position fixed zal de gehele balk oop het boven gedeelte van de website te zien zijn, ook bij scrollen*/
}

nav{
  display: flex;
  justify-content: space-between;
}

h1 {
  top: 0;
  margin:0;
  padding:.5em;
  color:white;
font-size: 25px;
  text-align: center;
  z-index: 1;
}

nav img:first-of-type{
  order: -1;
  width: 3em;
  height: 100%;
  z-index: 1;
}

nav img:last-of-type{

  width: 3em;
  height: 100%;
  z-index: 1;
}

nav ul{
  background-color: #140922;
  position: fixed;
  transform: translateX(100%);
  transition: 1s;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 3em;
  list-style-type: none;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
}

nav a{
  color: white;
  text-decoration: none;
  
}

#searchbar{
  background:none;
  position: relative;
  padding: 0;
  display:flex;
  align-items:center;
  /*styling voor de zoekbalk die te zien is als het hamburgermenu wordt uitgeklapt*/
}

input {
  line-height:3em;
  color:rgb(0, 0, 0);
  background-color:white;
  border-radius:1em;
  outline:none;
}

input::placeholder {
  color:dimgray;
}

/* styling voor search inputs */
input[type="search"] {
  position:relative;
  padding-left:2.5em;   
}

input:focus {
  background-color:white;;
}

.uitklappen{
  transform: translateX(0);
}

p{
  text-align: center;
}

h2{

  text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

.background img{
  max-height: 25em;
  width:100%;
  max-width: 100vw;
  object-fit: cover;
}

.slide{
  max-height: 30em;
  display: flex;
  overflow-x: auto;
}

.slide img{
  flex: 1;
  min-width: 12em;
  height: auto;
  text-align: center;  
  margin-right: 1em;
/*styling voor de slidebar op de homepagina, op desktop formaat zie je de afbeeldingen naast elkaar en op een mobilde device kan je horizontaal door de afbeeldingen heen scrollen*/
}

.opening{
  display: flex;  
margin: 3em;
flex-direction: column;
}

.opening p{
  font-size: 1em;
}

.opening h2{
  font-size: 2em;
}

.opening h3{
  font-size: 1.5em;
}

.opening img{
max-width: 27em;
}

.promo{  
  display:flex;
  
}

.promo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  margin-bottom: 2em;
  margin-top: 2em;
  /*styling voor de positionering en grootte van de video link*/

}

.gsthuis{
  display: flex;  
  margin: 3em;
flex-direction: column;
}

.gsthuis p{
  font-size: 1.2em;
}

.gsthuis h2{
  font-size: 2em;
}

.gsthuis h3{
  font-size: 1.6em;
}

.gsthuis img{
  max-width: 20em;
}

.rotate{
  width: 40%;
}

 @keyframes rotate-animation{
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(180deg);
  }
}

div.rotate:hover div {
  animation-name:rotate-animation;
  animation-duration:1s;
  /*de afbeelding zal in 1seconde roteren doormiddel van een hover*/

}

.grid {
  display: flex;
  flex-direction: column;
  grid-column-gap: 1em;
} 

.rabbids,
.arcade,
.mario {
  padding: 10px;
}

.vip{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

button{
  height:3em;
  padding:0 1em;
  
  background-color:purple;
  border:none;
  border-radius:1.5em;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
/*styling van de inschrijf button*/
}

button a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}

footer{
  background-color: #140922;
padding: 5%; 
}

footer li:first-of-type{
  font-weight: bold;
  }
  
  footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  padding-bottom: 5%;
  }

  footer img:first-of-type{
    display: flex;
   justify-content: center;
  }
  
  .socialmedia{
    display: grid;
    grid-template-columns:1fr 1fr;
  }

  .socialmedia img{
    width: 8em;
    display: flex;
    justify-content: center;
  }

  
  .socialmedia p{
    grid-column: span 2;
  }

  @media (min-width: 750px) {
    .grid {
      flex-direction: row;
    }

    .opening{
      flex-direction: row;
    }

.gsthuis{
  flex-direction: row;
  /*styling mediaquery*/
}
  }
